/*==============================================
 FOOTER
/*=============================================*/

footer{
  background: url(../images/footer.png) no-repeat center;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

footer .sm a{
	color: #fff;
	font-size: 14px;
	padding: 5px;
	transition: 0.5s;
}

footer .sm a:hover{
	transform: scale(1.2);
}

.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  outline: none;
  display: none;
}