body{
	margin:0px;
	padding:0px;
	background-color:#151315;
	font-family: sans-serif;
}

*{
  box-sizing:border-box;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

html{
  scroll-behavior: smooth;
}

::selection{
  background-color: white;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #353b48;
}

h1{
	font-size: 34px;
	color: #fff;
}

.square{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #fff;
  margin: 15px 0;
}

p{
  font-size: 15px;
  line-height: 18px;
  color: #777;
}

/*==============================================
 CONTAINER AND HEADING
/*=============================================*/

.container{
  margin-right: 100px;
  margin-left: 100px;
}

.heading{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.heading h1,h4{
	color:#ffffff;
	line-height:10px;
}

.heading h4{
	font-size:16px;
	letter-spacing:10px;
	opacity:0.9;
}

.heading h1{
	font-size:30px;
}

/*==============================================
 LEFT AND RIGHT OF ELEMENTS
/*=============================================*/

.actores{
	height:50vh;
	background-color:#151315;
}

.course-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.course-right-col{
  flex-basis: 50%;
}

.course-right-col img{
  width: 100%;
}

.course-left-col{
  flex-basis: 50%;
}

.course-text{
  max-width: 450px;
}

/*------- MARGEN --------*/

.normalizacion{
	margin: 100px 0;
}

/*==============================================
 MEDIA QUERIES
/*=============================================*/

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }
}

@media only screen and (max-width: 770px){
  .container{
    margin-right: 50px;
    margin-left: 50px;
	}
	.course-right-col{
    flex-basis: 100%;
    margin-top: 70px;
	}
	.course-left-col{
    flex-basis: 100%;
	}
}

@media screen and (max-width: 700px){
	.parallax-text{
		font-size: 30px;
	}
}

@media screen and (max-width: 600px){
	.inner-width{
	  padding: 0 20px;
	}
}