/*==============================================
 PORTFOLIO
/*=============================================*/

.portfolio .contenedor {
	max-width: 1200px;
	margin: auto;
}

/*------- headerPortfolio --------*/

.portfolio .headerPortfolio{
	padding: 40px 0;
}

.portfolio .headerPortfolio form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.portfolio .headerPortfolio .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: white;
	padding: 0 20px;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 16px;
    outline: none;
    box-shadow: -2px 0 8px 8px rgb(197, 194, 194);
}

.portfolio .headerPortfolio .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.portfolio .headerPortfolio .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--openSans);
}

.portfolio .headerPortfolio .categorias a.activo {
	color: #000;
}

/*------- Grid --------*/

.portfolio .grid {
	position: relative;
	width: 100%;
	transition: opacity 0.5s linear 1s;
}

.portfolio .grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
    width: calc(33.333333% - 20px);
}

.portfolio .grid .item-contenido {
	position: relative;
}

.portfolio .grid .item img {
	width: 100%;
	cursor: pointer;
    vertical-align: top;
    min-height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    -webkit-transition: background-position 1.5s ease-out 0.5s;
    -moz-transition: background-position 1.5s ease-out 0.5s;
    transition: background-position 1.5s ease-out 0.5s;
}

/*------- Overlay --------*/

.portfolio .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.portfolio .overlay.activo {
	display: flex;
}

.portfolio .overlay img {
	max-width: 100%;
}

.portfolio .overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.portfolio .overlay .contenedor-img {
    position: relative;
    max-width: 700px;
    max-height: 800px;
}

.portfolio .overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* Mediaqueries */

@media screen and (max-width: 900px) {
	.portfolio .grid .item {
		width: calc(50% - 20px);
	}
}

@media screen and (max-width: 650px) {
	.portfolio .grid .item {
		width: 100%;
	}

	.portfolio .headerPortfolio .barra-busqueda {
		width: 100%;
    }
    
    .portfolio .headerPortfolio .barra-busqueda {
		width: 80%;
	}
}